// Datatables

.p-datatable-wrapper {
  .p-datatable-thead {
    > tr > th {
      align-items: center;
      color: var(--primary-color-text);
      background-color: #ededed;
    }
  }
}

.p-datatable {
  &.p-datatable-striped {
    .p-datatable-tbody > tr:nth-child(1n) {
      color: var(--primary-color-text);
      background-color: #ffffff;
    }
    &.editable-cell-table {
      .p-datatable-wrapper {
        overflow: visible ; // this property unleash the power of the select or datepicker
      }
    }
    .p-datatable-tbody > tr:nth-child(2n) {
      color: var(--primary-color-text);
      background-color: #ededed;
    }

    .p-datatable-tbody > tr > td {
      overflow: hidden;
      overflow-y: visible;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .p-sortable-column {
    .p-sortable-column-icon {
      color: var(--primary-color-text);
    }

    &.p-highlight {
      color: var(--primary-color-text);

      .p-sortable-column-icon {
        color: var(--primary-color-text);
      }
    }
  }
}

// Datatables responsive

.p-datatable-responsive .p-datatable-tbody > tr > td .p-column-title {
  display: none;
}

@media screen and (max-width: 900px) {
  .p-datatable {
    &.p-datatable-responsive {
      &.editable-cell-table {
        border: 1px solid red;
        overflow-y: visible ;
      }
      .p-datatable-thead > tr > th,
      .p-datatable-tfoot > tr > td {
        display: none !important;
      }

      .p-datatable-tbody > tr > td {
        display: block;
        float: left;
        clear: left;
        width: 100%;
        text-align: left;
        border: 0 none;

        .p-column-title {
          font-weight: bold;
          display: inline-block;

          min-width: 40%;
          margin: -.4em 1em -.4em -.4rem;
          padding: .4rem;
        }

        &:last-child {
          border-bottom: 1px solid var(--surface-d);
        }
      }
    }
  }
}

// tools

.lck-datatable-align-center {
  text-align: center !important;
}

.lck-datatable-button-group {
  text-align: center !important;
}
