.p-tag {
  background: var(--primary-color);
  color: #ffffff;
  font-size: 0.75rem;
  font-weight: 700;
  padding: 0.125rem 0.4rem;
  border-radius: var(--border-radius);
}

.p-tag.p-tag-success {
  background-color: #689F38;
  color: #ffffff;
}

.p-tag.p-tag-info {
  background-color: var(--primary-color);
  color: #ffffff;
}

.p-tag.p-tag-warning {
  background-color: #FBC02D;
  color: #212529;
}

.p-tag.p-tag-danger {
  background-color: #D32F2F;
  color: #ffffff;
}

.p-tag .p-tag-icon {
  margin-right: 0.25rem;
  font-size: 0.75rem;
}
