.p-inputtext {
  font-family: var(--font-family);
  font-size: var(--font-size-lg);
  color: var(--text-color);
  background: #ffffff; // Custom
  padding: 0.5rem 0.75rem;
  border: var(--border);
  transition: background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
  appearance: none;
  border-radius: var(--border-radius);
}

.p-inputtext:enabled:hover {
  border-color: var(--primary-color);
}

.p-inputtext:enabled:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 1px var(--primary-color-lighten);
  border-color: var(--primary-color);
}

.p-inputtext.p-invalid.p-component {
  border-color: var(--color-error);
}

.p-inputtext.p-inputtext-sm {
  font-size: var(--font-size-sm);
  padding: 0.4375rem 0.65625rem;
}

.p-inputtext.p-inputtext-lg {
  font-size: var(--font-size-lg);
  padding: 0.625rem 0.9375rem;
}

.p-float-label > label {
  left: 0.75rem;
  color: rgba(255, 255, 255, 0.6);
  transition-duration: 0.15s;
}

.p-float-label > .p-invalid + label {
  color: #f19ea6;
}

.p-input-icon-left > i:first-of-type {
  left: 0.75rem;
  color: rgba(255, 255, 255, 0.6);
}

.p-input-icon-left > .p-inputtext {
  padding-left: 2.5rem;
}

.p-input-icon-left.p-float-label > label {
  left: 2.5rem;
}

.p-input-icon-right > i:last-of-type {
  right: 0.75rem;
  color: rgba(255, 255, 255, 0.6);
}

.p-input-icon-right > .p-inputtext {
  padding-right: 2.5rem;
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

:-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.p-input-filled .p-inputtext {
  background-color: #3f4b5b;
}

.p-input-filled .p-inputtext:enabled:hover {
  background-color: var(--background-color);
}

.p-input-filled .p-inputtext:enabled:focus {
  background-color: var(--background-color);
}

.p-inputtext-sm .p-inputtext {
  font-size: var(--font-size-sm);
  padding: 0.4375rem 0.65625rem;
}

.p-inputtext-lg .p-inputtext {
  font-size: var(--font-size-lg);
  padding: 0.625rem 0.9375rem;
}
