.p-overlaypanel {
  background: #2a323d;
  color: var(--text-color);
  border: 1px solid #3f4b5b;
  border-radius: var(--border-radius);
  box-shadow: none;
}

.p-overlaypanel .p-overlaypanel-content {
  padding: var(--spacing);
}

.p-overlaypanel .p-overlaypanel-close {
  background: var(--primary-color);
  color: #151515;
  width: 2rem;
  height: 2rem;
  transition: color 0.15s, box-shadow 0.15s;
  border-radius: 50%;
  position: absolute;
  top: -1rem;
  right: -1rem;
}

.p-overlaypanel .p-overlaypanel-close:enabled:hover {
  background: var(--primary-color);
  color: #151515;
}

.p-overlaypanel:after {
  border: solid transparent;
  border-color: rgba(42, 50, 61, 0);
  border-bottom-color: #2a323d;
}

.p-overlaypanel:before {
  border: solid transparent;
  border-color: rgba(63, 75, 91, 0);
  border-bottom-color: #3c4756;
}

.p-overlaypanel.p-overlaypanel-flipped:after {
  border-top-color: #2a323d;
}

.p-overlaypanel.p-overlaypanel-flipped:before {
  border-top-color: #3f4b5b;
}
