.p-overlaypanel {
  background: #ffffff;
  color: var(--text-color);
  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.p-overlaypanel .p-overlaypanel-content {
  padding: var(--spacing-sm);
}

.p-overlaypanel .p-overlaypanel-close {
  background: var(--primary-color);
  color: #ffffff;
  width: 2rem;
  height: 2rem;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  border-radius: 50%;
  position: absolute;
  top: -1rem;
  right: -1rem;
}

.p-overlaypanel .p-overlaypanel-close:enabled:hover {
  background: var(--primary-color);
  color: #ffffff;
}

.p-overlaypanel:after {
  border: solid rgba(255, 255, 255, 0);
  border-bottom-color: var(--primary-color);
}

.p-overlaypanel:before {
  border: solid rgba(255, 255, 255, 0);
  border-bottom-color: var(--primary-color);
}

.p-overlaypanel.p-overlaypanel-flipped:after {
  border-top-color: var(--primary-color);
}

.p-overlaypanel.p-overlaypanel-flipped:before {
  border-top-color: var(--primary-color);
}
