.p-tabview .p-tabview-nav {
  background: #ffffff;
  border: solid #dee2e6;
  border-width: 0 0 2px 0;
}

.p-tabview .p-tabview-nav li {
  margin-right: 0;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link {
  border: solid;
  border-width: 0 0 2px 0;
  border-color: transparent transparent #dee2e6 transparent;
  background: #e9e9e9;
  color: var(--text-color);;
  padding: 0.8rem;
  font-weight: var(--font-weight-medium);
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  transition: box-shadow 0.2s;
  margin: 0 0 -2px 0;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus-visible {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: inset 0 0 0 1px var(--primary-color-light);;
  border-color: var(--primary-color-light);
}

.p-tabview .p-tabview-nav li:not(.p-highlight):not(.p-disabled):hover .p-tabview-nav-link {
  background: var(--primary-color-lighten);
  border-color: #424d6c;
  color: var(--text-color);
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  background: var(--primary-color);
  border-color: var(--primary-color);
  color: #ffffff;
}

.p-tabview .p-tabview-nav-btn.p-link {
  background: #ffffff;
  color: var(--primary-color);
  width: 3rem;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 0;
}

.p-tabview .p-tabview-nav-btn.p-link:focus-visible {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: inset 0 0 0 0.2rem var(--primary-color-light);
  border-color: var(--primary-color-light);
}

.p-tabview .p-tabview-panels {
  background: #ffffff;
  padding: 0.5rem;
  border: 0 none;
  color: var(--text-color);
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
