.p-tag {
  background: var(--primary-color);
  color: #151515;
  font-size: 0.75rem;
  font-weight: var(--font-weight-bold);
  padding: 0.25rem 0.4rem;
  border-radius: var(--border-radius);
}

.p-tag.p-tag-success {
  background-color: var(--color-success-light);
  color: var(--text-color)
}

.p-tag.p-tag-info {
  background-color: var(--primary-color-lighten);
  color: var(--text-color)
}

.p-tag.p-tag-warning {
  background-color: var(--color-warning-light);
  color: var(--text-color)
}

.p-tag.p-tag-danger {
  background-color: var(--color-error-light);
  color: var(--text-color)
}

.p-tag .p-tag-icon {
  margin-right: 0.25rem;
  font-size: 0.75rem;
}
