html {
  font-family: var(--font-family);
  font-size: 80%;
  line-height: 1.4rem;
  box-sizing: border-box;
  background-color: var(--background-color);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

textarea {
  font-family: var(--font-family);
}

@media screen and (min-device-width: 1400px) {
  html {
    font-size: 100%;
  }
}

body {
  font-size: var(--font-size-md);
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

/*
  Typos
*/
h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.35rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1.15rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-medium);
}

ul,
ol,
li,
p {
  font-size: var(--font-size-md);
}

a {
  color: var(--primary-color);
}

/* Default links */
a.no-decoration-link {
  &:hover {
    text-decoration: underline;
  }
}

i.icon-with-text-aside {
  font-size: 1.5em;
}

/**
 * Colors Override prime
 */
.p-text-error {
  color: var(--color-error);
}

.p-text-warning {
  color: var(--color-warning);
}

.p-text-success {
  color: var(--color-success);
}

.p-border-error {
  border: 1px solid var(--color-error);
}

.p-border-warning {
  border: 1px solid var(--color-warning);
}

.p-border-success {
  border: 1px solid var(--color-success);
}

.p-bg-error {
  background-color: var(--color-error-light);
}

.p-bg-warning {
  background-color: var(--color-warning-light);
}

.p-bg-success {
  background-color: var(--color-success-light);
}

/**
 * Preformatted text
 */
.pre {
  white-space: pre-wrap;
  font-family: monospace;
}

/*
  Field required
*/
.field-required {
  font-size: 1.6rem;
  color: var(--color-error);
}

.label-field-required:after {
  content: '*';
  padding-left: 0.25rem;
  color: var(--color-error);
  font-size: 1rem;
}

p.failed,
span.failed {
  color: var(--color-error);
  font-weight: 500;
}

/*
  Override Prime Component
*/
.p-password {
  i {
    cursor: pointer;
  }
}

/*
  Set Bootstrap Icon
*/
.bi {
  font-size: 1.25rem;
}

/*
  Override nuxt
*/
#__nuxt {
  height: 100%;
}

// To check if needed
/*
  Custom cursor for vuedraggable
*/
//.handle,
//.handle-block {
//  cursor: move !important;
//}

/*
  Fields no editable
*/
//.no-editable-field {
//  cursor: not-allowed !important;
//
//  .p-checkbox {
//    cursor: not-allowed !important;
//  }
//}

//.generic-view-container {
//  max-width: min(960px, 96vw);
//  width: 960px;
//  padding-left: var(--content-padding);
//  padding-right: var(--content-padding);
//}
