html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* fast-helper */

.h-full {
  height: 100%;
  max-height: 100%;
}

.overflow-y-auto {
  overflow-y: auto;
}

.bg-primary {
  /*background-color: $--color-primary;*/
}
/* header */

.el-header {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-content: center;
  border-bottom: 1px solid #e2e8f0;
}

.logo, .profile {
  margin-top: auto;
  margin-bottom: auto;
}

.el-main {
  padding: 0;
}

.bg-gray-100 {
  background-color: #ebebeb;
}
