html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 15px;
  line-height: 1.4rem;
  box-sizing: border-box;
  // word-spacing: 1px;
  background-color: var(--background-color);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* fast-helper */
.h-full {
  height: 100%;
  max-height: 100%;
}

.h-max-full {
  max-height: 100%;
}

.w-full {
  width: 100%;
  max-width: 100%;
}

.d-flex-1 {
  flex: 1;
}

.o-auto {
  overflow: auto;
}

.o-hidden {
  overflow: hidden;
}

.no-decoration-link {
  text-decoration: none;
}

.lck-color-content {
  color: var(--surface-lck-1);
}

.lck-color-title {
  color: var(--surface-lck-1);
}

.lck-color-primary {
  color: var(--primary-color);
}

.lck-ul-content {
  padding: 0;
  list-style: none;
}

.generic-view-container {
  max-width: 960px;
  width: 960px;
}

.lck-bg-primary {
  background-color: var(--primary-color);
}

.lck-bg-sidebar {
  background-color: var(--sidebar-background-color);
}

.lck-primary {
  color: var(--primary-color);
}

/**
 * Colors
 */
.p-text-error {
  color: var(--color-error);
}
.p-text-warning {
  color: var(--color-warning);
}
.p-text-success {
  color: var(--color-success);
}
.p-border-error {
  border: 1px solid var(--color-error);
}
.p-border-warning {
  border: 1px solid var(--color-warning);
}
.p-border-success {
  border: 1px solid var(--color-success);
}
.p-bg-error {
  background-color: var(--color-error-light);
}
.p-bg-warning {
  background-color: var(--color-warning-light);
}
.p-bg-success {
  background-color: var(--color-success-light);
}

/**
 * Preformatted text
 */
.pre {
  white-space: pre-wrap;
  font-family: monospace;
}

/*
 * Custom icon
 */

.specific-icon {
  width: 1.2em;
  height: 1.2em;

  &:after {
    width: 1.2em;
    height: 1.2em;
    content: '';
    display: inline-block;
    background-color: var(--primary-color);
  }
}
