// This file overwrite some Prime rules


@import "lck/fonts";

@import "primevue";

@import "lck/layout";
@import "lck/buttons";
@import "lck/datatables";
@import "lck/accordion";
@import "lck/paginator";
@import "lck/tabviews";
@import "lck/forms";
@import "lck/workspaces";
@import "lck/responsive";
@import "~bootstrap-icons/font/bootstrap-icons.css";

// Typos

.lck-color-title {
  color: var(--primary-color);
}

.lck-block-title {
  padding: 0.5rem 0;
  color: var(--primary-color);

  &:after {
    display: block;
    width: 30px;
    height: 4px;
    content: '';
    background-color: var(--primary-color);
  }
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.35rem;
}

h3 {
  font-size: 1.20rem;
}

h4 {
  font-size: 1.15rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

ul,
ol,
li,
p {
  font-size: 1rem;
}

/* Default links */

a:link {
  color: var(--primary-color);
}

a:visited {
  color: var(--primary-color);
}

a:hover {
  color: var(--primary-color-darken);
}

a:active {
  color: var(--primary-color-darken);
}

a.no-decoration-link {
  color: var(--primary-color);

  &:hover {
    text-decoration: underline;
  }
}


// Adjust bootstrap icons font-size
.p-button.p-button-sm .p-button-icon.bi {
  font-size: 1.0rem;
}

.p-card .p-card-title {
  font-weight: normal;
}

// Fix bug close dialog on confirmation-dialog
.p-dialog.p-component.p-confirm-dialog {
  .p-dialog-header-icon.p-dialog-header-close.p-link {
    display: none !important;
  }
}
