// This file overwrite some Prime rules

@import "v-logistique/fonts";
@import "v-logistique/layout";
@import "v-logistique/buttons";
@import "v-logistique/datatables";
@import "v-logistique/accordion";
@import "v-logistique/paginator";

// Toolbar

.menu-button {
  line-height: 70px;
  display: none;
  width: 70px;
  height: 70px;
  cursor: pointer;
  transition: background-color .2s;
  text-align: center;
  color: var(--primary-color);

  &:hover {
    background-color: var(--surface-c);
  }

  i {
    font-size: 24px;
    line-height: inherit;
  }
}

.profile-button {
  width: 70px;
  height: 70px;
  cursor: pointer;
  transition: background-color .2s;
  text-align: center;

  a {
    line-height: 70px;
    display: flex;
    align-items: center;
    width: 70px;
    height: 70px;
    text-align: center;

    .p-button {
      display: block;
      margin: 0 auto;
    }
  }
}

// Responsive

@media screen and (max-width: 900px) {
  .menu-button {
    display: block;
  }
}

// Typos

.lck-color-page-title {
  font-family: $font-stack;
  font-weight: 700;
  color: var(--primary-color);
}

.lck-color-title {
  color: var(--primary-color);
  font-weight: 500;
}

.lck-color-content {
  color: #858096;
}

.lck-color-page-title {
  color: var(--primary-color);
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.35rem;
}

h3 {
  font-size: 1.20rem;
}

h4 {
  font-size: 1.15rem;
}

ul, ol, li, p {
  font-size: 1rem;
}

a.no-decoration-link {
  color: var(--primary-color);

  &:hover {
    text-decoration: underline;
  }
}

.p-component,
.p-inputtext {
  font-family: $font-stack;
  font-size: 1rem
}

.p-dropdown {
  &.p-invalid {
    color: #f44336;
    border-color: #f44336;
  }
}

.p-button {
  border-color: var(--surface-a);
  background-color: var(--surface-a);

  &:active, &:hover {
    border-color: var(--surface-b);
    background-color: var(--surface-b);
  }
}

// Tags

.p-tag {
  color: var(--primary-color-text);
  background-color: transparent;

  // Tags in datatables
  .p-datatable-wrapper & {
    font-size: 1rem;
  }
}

// error sur la home

.home {
  .p-error {
    font-weight: bold;
    position: relative;
    margin-bottom: -45px;
    transition: opacity 0.5s ease-in-out;
    text-align: center;
    opacity: 0;
    color: #f44336;

    &.errorActive {
      opacity: 1;
    }
  }
}

.lck-bg-primary {
  background-color: var(--primary-color);
}

.lck-primary {
  color: var(--primary-color);
}
