// This file overwrite some Prime rules

@import "lck/fonts";
@import "lck/layout";
@import "lck/buttons";
@import "lck/datatables";
@import "lck/accordion";
@import "lck/paginator";
@import "lck/tabviews";
@import "lck/forms";
@import "lck/responsive";
@import "~bootstrap-icons/font/bootstrap-icons.css";

// Typos

.lck-color-title {
  color: var(--primary-color);
}

.lck-block-title {
  padding: 0.5rem 0;
  color: var(--primary-color);

  &:after {
    display: block;
    width: 30px;
    height: 4px;
    content: '';
    background-color: var(--primary-color);
  }
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.35rem;
}

h3 {
  font-size: 1.20rem;
}

h4 {
  font-size: 1.15rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

ul, ol, li, p {
  font-size: 1rem;
}

/* Default links */

a:link {
  color: var(--primary-color);
}

a:visited {
  color: var(--primary-color);
}

a:hover {
  color: var(--primary-color-darken);
}

a:active {
  color: var(--primary-color-darken);
}

a.no-decoration-link {
  color: var(--primary-color);

  &:hover {
    text-decoration: underline;
  }
}

.p-component,
.p-inputtext {
  font-family: $font-stack;
  font-size: 1rem
}

.p-dropdown {
  &.p-invalid {
    color: var(--color-error);
    border-color: var(--color-error);
  }
}

.p-button {
  border-color: var(--surface-a);
  background-color: var(--surface-a);

  &:active, &:hover {
    border-color: var(--surface-b);
    background-color: var(--surface-b);
  }
}

.p-inputswitch {
  &.p-inputswitch-checked {
    .p-inputswitch-slider {
      background-color: var(--surface-a);
    }

    &:hover {
      .p-inputswitch-slider {
        border-color: var(--primary-color-darken);
        background-color: var(--primary-color-darken) !important;
      }
    }
  }
}

// Tags

.p-tag {
  color: var(--primary-color-text);
  background-color: transparent;

  // Tags in datatables
  .p-datatable-wrapper & {
    font-size: 0.7rem;
  }
}

.p-dropdown,
.p-inputtext {
  &:enabled {
    &:focus {
      border: 1px solid var(--primary-color);
      box-shadow: unset;
    }
  }

  &:focus,
  &.p-focus {
    border: 1px solid var(--primary-color);
    box-shadow: unset;
  }

  &:not(.p-disabled) {
    &.p-focus {
      border: 1px solid var(--primary-color);
      box-shadow: unset;
    }
  }
}

.p-card,
.p-inputtext,
.p-button,
.p-multiselect {
  border-radius: var(--border-radius);
}

// Adjust bootstrap icons font-size

.p-button.p-button-sm .p-button-icon.bi {
  font-size: 1.0rem;
}

.p-card .p-card-title {
  font-weight: normal;
}

// Cursor disabled on button

.p-button:disabled {
  cursor: not-allowed;
}

// Toast

.p-toast {
  z-index: 1101 !important;
}

// Confirmation dialog
.p-confirm-dialog {
  max-width: 600px;
  margin: 0.5em;
}

.p-confirm-dialog .p-dialog-header-icons {
  // Hide the close button because clicking on it will prevent the dialog from being displayed another time
  display: none;
}

@media (max-width: 900px) {
  .p-confirm-dialog .p-dialog-footer button {
    width: 100%;
  }
}
