.p-autocomplete .p-autocomplete-loader {
  right: 0.75rem;
}

.p-autocomplete.p-autocomplete-dd .p-autocomplete-loader {
  right: 3.107rem;
}

.p-autocomplete:not(.p-disabled):hover .p-autocomplete-multiple-container {
  border-color: var(--primary-color);
}

.p-autocomplete:not(.p-disabled).p-focus .p-autocomplete-multiple-container {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 1px var(--primary-color-light);
  border-color: var(--primary-color);
}

.p-autocomplete .p-autocomplete-multiple-container {
  padding: 0.25rem 0.75rem;
  gap: 0.5rem;
}

.p-autocomplete .p-autocomplete-multiple-container .p-autocomplete-input-token {
  padding: 0.25rem 0;
}

.p-autocomplete .p-autocomplete-multiple-container .p-autocomplete-input-token input {
  font-family: var(--font-family);
  font-size: var(--font-size-lg);
  color: var(--text-color);
  padding: 0;
  margin: 0;
}

.p-autocomplete .p-autocomplete-multiple-container .p-autocomplete-token {
  padding: 0.25rem 0.75rem;
  background: var(--secondary-color-lighten);
  color: var(--text-color);
  border-radius: 16px;
}

.p-autocomplete .p-autocomplete-multiple-container .p-autocomplete-token .p-autocomplete-token-icon {
  margin-left: 0.5rem;
}

.p-autocomplete .p-autocomplete-multiple-container .p-autocomplete-token.p-focus {
  background: var(--color-white);
  color: rgba(255, 255, 255, 0.87);
}

.p-autocomplete.p-invalid.p-component > .p-inputtext {
  border-color: var(--color-error);
}

.p-autocomplete-panel {
  background: var(--color-white);
  color: var(--text-color);
  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius);
  box-shadow: none;
}

.p-autocomplete-panel .p-autocomplete-items {
  padding: 0.5rem 0;
}

.p-autocomplete-panel .p-autocomplete-items .p-autocomplete-item {
  margin: 0;
  padding: 0.5rem 1.5rem;
  border: 0 none;
  color: var(--text-color);
  background: transparent;
  transition: box-shadow 0.15s;
  border-radius: 0;
}

.p-autocomplete-panel .p-autocomplete-items .p-autocomplete-item.p-highlight {
  color: var(--text-color);
  background: var(--primary-color-lighten);
}

.p-autocomplete-panel .p-autocomplete-items .p-autocomplete-item.p-highlight.p-focus {
  background: var(--primary-color-lighten);
}

.p-autocomplete-panel .p-autocomplete-items .p-autocomplete-item:not(.p-highlight):not(.p-disabled).p-focus {
  color: var(--text-color);
  background: rgba(255, 255, 255, 0.12);
}

.p-autocomplete-panel .p-autocomplete-items .p-autocomplete-item:not(.p-highlight):not(.p-disabled):hover {
  color: var(--text-color);
  background: var(--primary-color-lighten);
}

.p-autocomplete-panel .p-autocomplete-items .p-autocomplete-item-group {
  margin: 0;
  padding: 0.75rem 1rem;
  color: var(--text-color);
  background: var(--color-white);
  font-weight: var(--font-weight-medium);
}
