.p-breadcrumb {
  background: #343e4d;
  border: 0 none;
  border-radius: 4px;
  padding: 1rem;
}

.p-breadcrumb ul li .p-menuitem-link {
  transition: box-shadow 0.15s;
  border-radius: var(--border-radius);
}

.p-breadcrumb ul li .p-menuitem-link:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 1px #e3f3fe;
}

.p-breadcrumb ul li .p-menuitem-link .p-menuitem-text {
  color: #8dd0ff;
}

.p-breadcrumb ul li .p-menuitem-link .p-menuitem-icon {
  color: #8dd0ff;
}

.p-breadcrumb ul li.p-breadcrumb-chevron {
  margin: 0 0.5rem 0 0.5rem;
  color: rgba(255, 255, 255, 0.87);
}

.p-breadcrumb ul li:last-child .p-menuitem-text {
  color: rgba(255, 255, 255, 0.87);
}

.p-breadcrumb ul li:last-child .p-menuitem-icon {
  color: rgba(255, 255, 255, 0.87);
}
