.p-contextmenu {
  padding: 0.5rem 0;
  background: var(--background-color);
  color: var(--text-color);
  border: 1px solid var(--secondary-color-lighten);
  box-shadow: none;
  border-radius: var(--border-radius);
  width: 12.5rem;
}

.p-contextmenu .p-menuitem-link {
  padding: 0.75rem 1rem;
  color: var(--text-color);
  border-radius: var(--border-radius);
  transition: box-shadow 0.15s;
  user-select: none;
}

.p-contextmenu .p-menuitem-link .p-menuitem-text {
  color: var(--text-color);
}

.p-contextmenu .p-menuitem-link .p-menuitem-icon {
  color: rgba(255, 255, 255, 0.6);
  margin-right: 0.5rem;
}

.p-contextmenu .p-menuitem-link .p-submenu-icon {
  color: rgba(255, 255, 255, 0.6);
}

.p-contextmenu .p-menuitem-link:not(.p-disabled):hover {
  background: rgba(255, 255, 255, 0.04);
}

.p-contextmenu .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text {
  color: var(--text-color);
}

.p-contextmenu .p-menuitem-link:not(.p-disabled):hover .p-menuitem-icon {
  color: rgba(255, 255, 255, 0.87);
}

.p-contextmenu .p-menuitem-link:not(.p-disabled):hover .p-submenu-icon {
  color: rgba(255, 255, 255, 0.87);
}

.p-contextmenu .p-menuitem-link:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: inset 0 0 0 0.15rem var(--primary-color-light);
}

.p-contextmenu .p-submenu-list {
  padding: 0.5rem 0;
  background: var(--background-color);
  border: 1px solid #3f4b5b;
  box-shadow: none;
  border-radius: 4px;
}

.p-contextmenu .p-menuitem.p-menuitem-active > .p-menuitem-link {
  background: #20262e;
}

.p-contextmenu .p-menuitem.p-menuitem-active > .p-menuitem-link .p-menuitem-text {
  color: var(--text-color);
}

.p-contextmenu .p-menuitem.p-menuitem-active > .p-menuitem-link .p-menuitem-icon, .p-contextmenu .p-menuitem.p-menuitem-active > .p-menuitem-link .p-submenu-icon {
  color: rgba(255, 255, 255, 0.87);
}

.p-contextmenu .p-menu-separator {
  border-top: 1px solid #3f4b5b;
  margin: 0.5rem 0;
}

.p-contextmenu .p-submenu-icon {
  font-size: 0.875rem;
}
