.p-confirm-popup {
  background: #2a323d;
  color: rgba(255, 255, 255, 0.87);
  border: 1px solid #3f4b5b;
  border-radius: 4px;
  box-shadow: none;
}

.p-confirm-popup .p-confirm-popup-content {
  padding: 1.25rem;
}

.p-confirm-popup .p-confirm-popup-footer {
  text-align: right;
  padding: 0 1.25rem 1.25rem 1.25rem;
}

.p-confirm-popup .p-confirm-popup-footer button {
  margin: 0 0.5rem 0 0;
  width: auto;
}

.p-confirm-popup .p-confirm-popup-footer button:last-child {
  margin: 0;
}

.p-confirm-popup:after {
  border: solid transparent;
  border-bottom-color: #2a323d;
}

.p-confirm-popup:before {
  border: solid rgba(63, 75, 91, 0);
  border-bottom-color: #3f4b5b;
}

.p-confirm-popup.p-confirm-popup-flipped:after {
  border-top-color: #2a323d;
}

.p-confirm-popup.p-confirm-popup-flipped:before {
  border-top-color: #3f4b5b;
}

.p-confirm-popup .p-confirm-popup-icon {
  font-size: 1.5rem;
}

.p-confirm-popup .p-confirm-popup-message {
  margin-left: 1rem;
}
