
.p-inline-message {
  padding: 0.75rem 0.75rem;
  margin: 0;
  border-radius: var(--border-radius);
}

.p-inline-message.p-inline-message-info {
  background: #e9e9ff;
  border: solid #696cff;
  border-width: 0;
  color: #696cff;
}

.p-inline-message.p-inline-message-info .p-inline-message-icon {
  color: #004085;
}

.p-inline-message.p-inline-message-success {
  background: var(--color-success-lighten);
  border: solid var(--color-success-lighten);
  border-width: 0;
  color: var(--color-success);
}

.p-inline-message.p-inline-message-success .p-inline-message-icon {
  color: var(--color-success);
}

.p-inline-message.p-inline-message-warn {
  background: var(--color-warning-lighten);
  border: solid var(--color-warning-lighten);
  border-width: 0;
  color: var(--color-warning);
}

.p-inline-message.p-inline-message-warn .p-inline-message-icon {
  color: var(--color-warning);
}

.p-inline-message.p-inline-message-error {
  background: var(--color-error-lighten);
  border: solid var(--color-error-lighten);
  border-width: 0;
  color: var(--color-error);
}

.p-inline-message.p-inline-message-error .p-inline-message-icon {
  color: var(--color-error);
}

.p-inline-message .p-inline-message-icon {
  font-size: 1rem;
  margin-right: 0.5rem;
}

.p-inline-message .p-inline-message-text {
  font-size: 1rem;
}

.p-inline-message.p-inline-message-icon-only .p-inline-message-icon {
  margin-right: 0;
}
