.p-message {
  margin: 1rem 0;
  border-radius: var(--border-radius);
}

.p-message .p-message-wrapper {
  padding: 1.25rem 1.75rem;
}

.p-message .p-message-close {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: transparent;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}

.p-message .p-message-close:hover {
  background: rgba(255, 255, 255, 0.3);
}

.p-message .p-message-close:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 1px #BFDBFE;
}

.p-message.p-message-info {
  background: #e9e9ff;;
  border: 1px solid #696cff;
  color: #696cff;
}

.p-message.p-message-info .p-message-icon {
  color: #696cff;
}

.p-message.p-message-info .p-message-close {
  color: #696cff;
}

.p-message.p-message-success {
  background: var(--color-success-lighten);
  border: 1px solid var(--color-success-light);
  color: var(--color-success);
}

.p-message.p-message-success .p-message-icon {
  color: var(--color-success);
}

.p-message.p-message-success .p-message-close {
  color: var(--color-success);
}

.p-message.p-message-warn {
  background: var(--color-warning-lighten);
  border: 1px solid var(--color-warning-light);
  color: var(--color-warning);
}

.p-message.p-message-warn .p-message-icon {
  color: var(--color-warning);
}

.p-message.p-message-warn .p-message-close {
  color: var(--color-warning);
}

.p-message.p-message-error {
  background: var(--color-error-lighten);
  border: 1px solid var(--color-error-light);
  color: var(--color-error);

}

.p-message.p-message-error .p-message-icon {
  color: var(--color-error);
}

.p-message.p-message-error .p-message-close {
  color: var(--color-error);
}

.p-message .p-message-text {
  font-size: 1rem;
  font-weight: 400;
}

.p-message .p-message-icon {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}
