.p-message {
  margin: 1rem 0;
  border-radius: 4px;
}

.p-message .p-message-wrapper {
  padding: 1rem 1.25rem;
}

.p-message .p-message-close {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: transparent;
  transition: color 0.15s, box-shadow 0.15s;
}

.p-message .p-message-close:hover {
  background: rgba(255, 255, 255, 0.3);
}

.p-message .p-message-close:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 1px #e3f3fe;
}

.p-message.p-message-info {
  background: #cce5ff;
  border: solid #b8daff;
  border-width: 1px;
  color: #004085;
}

.p-message.p-message-info .p-message-icon {
  color: #004085;
}

.p-message.p-message-info .p-message-close {
  color: #004085;
}

.p-message.p-message-success {
  background: #d4edda;
  border: solid #c3e6cb;
  border-width: 1px;
  color: var(--color-success);
}

.p-message.p-message-success .p-message-icon {
  color: var(--color-success);
}

.p-message.p-message-success .p-message-close {
  color: var(--color-success);
}

.p-message.p-message-warn {
  background: #fff3cd;
  border: solid #ffeeba;
  border-width: 1px;
  color: var(--color-warning);
}

.p-message.p-message-warn .p-message-icon {
  color: var(--color-warning);
}

.p-message.p-message-warn .p-message-close {
  color: var(--color-warning);
}

.p-message.p-message-error {
  background: #f8d7da;
  border: solid #f5c6cb;
  border-width: 1px;
  color: var(--color-error);

}

.p-message.p-message-error .p-message-icon {
  color: var(--color-error);
}

.p-message.p-message-error .p-message-close {
  color: var(--color-error);
}

.p-message .p-message-text {
  font-size: 1rem;
  font-weight: 500;
}

.p-message .p-message-icon {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}
