.p-password.p-invalid.p-component > .p-inputtext {
  border-color: var(--color-error);
}

.p-password-panel {
  padding: 1.25rem;
  background: var(--background-color);
  color: var(--text-color);
  border: 1px solid #3f4b5b;
  box-shadow: none;
  border-radius: 4px;
}

.p-password-panel .p-password-meter {
  margin-bottom: 0.5rem;
  background: #efefefef; // Custom
}

.p-password-panel .p-password-meter .p-password-strength.weak {
  background: #f19ea6;
}

.p-password-panel .p-password-meter .p-password-strength.medium {
  background: #ffe082;
}

.p-password-panel .p-password-meter .p-password-strength.strong {
  background: #9fdaa8;
}
