.p-tieredmenu {
  padding: 0.5rem 0;
  background: #2a323d;
  color: var(--text-color);
  border: 1px solid var(--secondary-color-lighten);
  border-radius: var(--border-radius);
  width: 12.5rem;
}

.p-tieredmenu .p-menuitem-link {
  padding: 0.75rem 1rem;
  color: var(--text-color);
  border-radius: 0;
  transition: box-shadow 0.15s;
  user-select: none;
}

.p-tieredmenu .p-menuitem-link .p-menuitem-text {
  color: var(--text-color);
}

.p-tieredmenu .p-menuitem-link .p-menuitem-icon {
  color: rgba(255, 255, 255, 0.6);
  margin-right: 0.5rem;
}

.p-tieredmenu .p-menuitem-link .p-submenu-icon {
  color: rgba(255, 255, 255, 0.6);
}

.p-tieredmenu .p-menuitem-link:not(.p-disabled):hover {
  background: rgba(255, 255, 255, 0.04);
}

.p-tieredmenu .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text {
  color: var(--text-color);
}

.p-tieredmenu .p-menuitem-link:not(.p-disabled):hover .p-menuitem-icon {
  color: var(--text-color);
}

.p-tieredmenu .p-menuitem-link:not(.p-disabled):hover .p-submenu-icon {
  color: var(--text-color);
}

.p-tieredmenu .p-menuitem-link:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: inset 0 0 0 0.15rem #e3f3fe;
}

.p-tieredmenu.p-tieredmenu-overlay {
  background: #2a323d;
  border: 1px solid var(--secondary-color-lighten);
  box-shadow: none;
}

.p-tieredmenu .p-submenu-list {
  padding: 0.5rem 0;
  background: #2a323d;
  border: 1px solid var(--secondary-color-lighten);
  box-shadow: none;
}

.p-tieredmenu .p-menuitem.p-menuitem-active > .p-menuitem-link {
  background: #20262e;
}

.p-tieredmenu .p-menuitem.p-menuitem-active > .p-menuitem-link .p-menuitem-text {
  color: var(--text-color);
}

.p-tieredmenu .p-menuitem.p-menuitem-active > .p-menuitem-link .p-menuitem-icon, .p-tieredmenu .p-menuitem.p-menuitem-active > .p-menuitem-link .p-submenu-icon {
  color: var(--text-color);
}

.p-tieredmenu .p-menu-separator {
  border-top: 1px solid var(--secondary-color-lighten);
  margin: 0.5rem 0;
}

.p-tieredmenu .p-submenu-icon {
  font-size: var(--font-size-md);
}
