/**
 * Accordion's customisation
 */

.p-accordion {
  .p-accordion-header {
    .p-accordion-header-link {
      font-weight: var(--font-weight-medium);
      padding: var(--spacing-sm) var(--spacing-lg);
      border-radius: var(--border-radius);
    }

    .p-accordion-toggle-icon {
      margin-right: 0.5rem;
    }

    &:not(.p-disabled) {
      .p-accordion-header-link {
        &:focus {
          outline: 0 none;
          outline-offset: 0;
          box-shadow: unset;
        }
      }
    }
  }
  @media screen and (max-width: 900px) {
    .p-accordion-content {
      background-color: var(--sidebar-background-color);
      .lck-sidebar-link-label {
        color: var(--sidebar-text-color) ;
      }
    }
  }
}
