// layout
:root {
  --nav-width: 3.5rem;
  --contextual-menu-width: 20rem;
}

.lck-header {
  position: relative;
  z-index: 1000;
  height: var(--header-height);
  border-bottom: 1px solid var(--header-border-bottom-color);
  box-sizing: border-box;
  background-color: var(--header-background-color);
}

.lck-layout {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;


  &-content {
    height: calc(100vh - var(--header-height));
    min-width: 0;
    overflow: hidden;
  }

  @media screen and (min-width: 900px) {
    display: grid;
    grid-template-columns: auto 1fr;
    &-content {
      display: flex;
    }
  }
}

.lck-page {
  overflow: auto;
  height: 100%;
  min-height: 100%;
  flex-grow: 1;
}

.main-container {
  margin-left: var(--nav-width);
  transition: all 0.4s cubic-bezier(0.4, 0, 0, 1);
}

.centered-content-view {
  max-width: 800px;
  margin: auto;
}
