.lck-sidebar {
  position: absolute;
  z-index: 100;
  display: none;
  background: var(--sidebar-background-color);
  width: var(--sidebar-width);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-md);
  height: calc(100vh - var(--header-height));
  overflow: auto;
  box-shadow: 1px 0 6px 0 rgba(0, 0, 0, .05);

  .lck-layout--with-nav & {
    left: var(--nav-width);
  }

  &--active {
    display: block;
  }

  // Accordion header
  .p-accordion-header-link {
    color: var(--sidebar-text-color);

    &:first-child {
      margin-top: var(--spacing-xs);
    }
  }

  &-title,
  &-subtitle {
    margin-right: 3rem;
  }

  &-title {
    margin-bottom: 0;
  }

  &-subtitle {
    margin-top: var(--spacing-xs);
  }

  // Link inside accordion
  &-link {
    display: flex;
    align-items: center;
    padding: var(--spacing-sm) var(--spacing-lg);

    text-decoration: none;
    color: var(--sidebar-text-color);

    &-icon {
      margin-right: var(--spacing-sm);
    }
  }

  .p-accordion-header-link,
  &-link {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      z-index: 0;
      top: 1px;
      left: var(--spacing-xs);
      right: var(--spacing-xs);
      bottom: 1px;
      background-color: transparent;
      border-radius: var(--border-radius);
    }

    * {
      position: relative;
      z-index: 2;
    }

    &:hover {
      &::before {
        background: var(--primary-color);
        opacity: .2;
      }
    }


    &.router-link-active {
      color: var(--sidebar-text-color-active);
      font-weight: var(--font-weight-bold);

      &::before {
        background: var(--primary-color);
        opacity: .15;
      }
    }
  }

  @media screen and (min-width: 900px) {
    position: relative;
    display: block;

    .lck-layout--with-nav & {
      left: 0;
    }
  }
}
