/**
 * Accordion's customisation
 */

.p-accordion {
  .p-accordion-header {
    .p-accordion-header-link {
      font-weight: 500;
      padding: var(--accordion-header-link-padding);
      border-radius: var(--border-radius);
    }

    .p-accordion-toggle-icon {
      margin-right: 0.5rem;
    }

    &:not(.p-disabled) {
      .p-accordion-header-link {
        &:focus {
          outline: 0 none;
          outline-offset: 0;
          box-shadow: unset;
        }
      }
    }
  }

  .p-accordion-tab {
    margin-bottom: 0;

    .p-accordion-header {
      .p-accordion-header-link {
        border-radius: unset;
      }
    }

    &:first-child {
      .p-accordion-header {
        .p-accordion-header-link {
          border-radius: unset;
        }
      }
    }

    &:last-child {
      .p-accordion-header,
      .p-accordion-header:not(.p-highlight) {
        .p-accordion-header-link {
          border-radius: unset;
        }
      }
      .p-accordion-content {
        border-radius: unset;
      }
    }
  }
}


.p-accordion .p-accordion-header .p-accordion-header-link {
  padding: 1rem .5rem;
}

.p-accordion .p-accordion-header .p-accordion-header-link .p-accordion-toggle-icon {
  margin-right: 0.5rem;
}
