// buttons
.p-fluid {
  .p-buttonset {
    display: flex;
    align-items: center;
    justify-content: center;

    .p-button {
      flex: initial;
      margin-right: 0 !important;
      background-color: transparent;

      &:first-child {
        margin-right: 0;
      }
    }
  }
}

.p-buttonset {
  .p-button {
    color: var(--primary-color);
    background-color: transparent;

    &:hover {
      color: #ffffff;
      background-color: var(--primary-color-darken);
    }
  }
}
