// buttons

.p-button {
  background-color: var(--surface-a);
  border-color: var(--surface-a);

  &:enabled {
    &:hover {
      color: var(var--);
      background-color: var(--primary-color-darken);
      border-color: var(--primary-color-darken);
    }
  }

  &.p-button-outlined {
    color: var(--primary-color);

    &:enabled {
      &:hover {
        color: var(--surface-lck-2);
        background-color: var(--primary-color);
      }

      &.p-disabled {
        &:hover {
          color: var(--primary-color);
          background-color: transparent;
        }
      }
    }
  }

  &.p-button-text {
    color: var(--primary-color);

    &:enabled {
      &:hover {
        color: var(--primary-color);
      }
    }
  }
  &.p-togglebutton {
    &.p-highlight {
      background-color: var(--primary-color);
      border-color: var(--primary-color);

      &:hover {
        color: var(--text-color);
        background-color: var(--primary-color-darken);
        border-color: var(--primary-color-darken);
      }
    }
  }
}

.p-button {
  &.p-disabled {
    &:hover {
      background-color: none;
    }
  }
}

.p-fluid {
  .p-buttonset {
    display: flex;
    align-items: center;
    justify-content: center;

    .p-button {
      flex: initial;
      margin-right: 0 !important;

      &:first-child {
        margin-right: 0;
      }
    }
  }
}
