// Datatables

.p-editable-column {
  min-width: 5rem;
}

.p-datatable.p-datatable-gridlines .p-datatable-thead > tr > td,
.p-datatable.p-datatable-gridlines .p-datatable-thead > tr > th {
  border-width: 0 0 0 0 ;
}

.p-datatable .p-column-resizer {
  width: 7px;
  border: unset;
  border-left: 4px solid #e9ecef;
}
.p-datatable .p-column-resizer:hover {
  background-color: var(--primary-color);
}

.p-datatable-wrapper,
.p-datatable-scrollable-wrapper {
  .p-datatable-thead {
    > tr > th {
      font-weight: normal;
      align-items: center;
      color: var(--primary-color-text);
      background-color: #ededed;
    }
  }
}

.p-datatable .p-datatable-thead > tr > th,
.p-datatable .p-datatable-thead > tr > td {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.p-datatable {
  &.p-datatable-striped {
    .p-datatable-tbody > tr:nth-child(1n) {
      color: var(--primary-color-text);
      background-color: #ffffff;
    }

    &.editable-cell-table {
      .p-datatable-wrapper {
        overflow: visible; // this property unleash the power of the select or datepicker
      }
    }

    .p-datatable-tbody > tr:nth-child(2n) {
      color: var(--primary-color-text);
      background-color: #ededed;
    }
  }

  .p-datatable-tbody > tr > td {
    overflow: hidden;
    overflow-y: visible;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .p-datatable-tbody > tr > td.p-editable-column.p-cell-editing {
    overflow: auto;
    border: unset;
  }

  .p-sortable-column {
    .p-sortable-column-icon {
      color: var(--primary-color-text);

      &.pi::before {
        font-size: 0.8rem !important;
      }
    }

    &.p-highlight {
      color: var(--primary-color-text);

      .p-sortable-column-icon {
        color: var(--primary-color-text);
      }
    }
  }
}

.p-cell-editing {
  padding: 0 !important;

  input {
    &.p-inputtext {
      border-radius: 0;

      &:enabled,
      &:focus {
        border: 1px solid var(--primary-color);
        box-shadow: unset;
      }
    }
  }
}

// Datatables responsive

.p-datatable-responsive .p-datatable-tbody > tr > td .p-column-title {
  display: none;
}

@media screen and (max-width: 900px) {
  .p-datatable {
    &.p-datatable-responsive {
      &.editable-cell-table {
        overflow-y: visible;
      }

      .p-datatable-thead > tr > th,
      .p-datatable-tfoot > tr > td {
        display: none !important;
      }

      .p-datatable-tbody > tr > td {
        display: block;
        float: left;
        clear: left;
        width: 100%;
        text-align: left;
        border: 0 none;

        .p-column-title {
          font-weight: bold;
          display: inline-block;

          min-width: 40%;
          margin: -.4em 1em -.4em -.4rem;
          padding: .4rem;
        }

        &:last-child {
          border-bottom: 1px solid var(--surface-d);
        }
      }
    }
  }
}
