// layout
:root {
  --nav-width: 3.5rem;
  --contextual-menu-width: 20rem;
}

.lck-header {
  z-index: 999;
}

.lck-layout {
  position: fixed;
  top: var(--header-height);
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  grid-template-columns: auto 1fr;


  &-content {
    display: grid;
    grid-template-columns: auto 1fr;
  }
}

.lck-nav {
  width: var(--nav-width);
  height: calc(100vh - var(--header-height));
  background: var(--primary-color);

  &-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &-item {
    text-align: center;

    &-link {
      width: 100%;
      color: var(--primary-color-very-lighten);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: var(--font-size-lg);
      border-radius: 0;
      width: 100%;
      height: 3rem;


      &:hover {
        background: var(--primary-color-darken);
      }

      &:focus {
        background: var(--primary-color-darken);
        outline: none;
        box-shadow: none;
      }
    }

    .router-link-active {
      position: relative;
      color: var(--sidebar-text-color-active);
      background: var(--sidebar-background-color);

      &:focus-visible {
        &::before {
          content: '';
          position: absolute;
          z-index: 1;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          border-radius: var(--border-radius);
          margin: var(--spacing-sm);
          background: var(--sidebar-background-color-active);
        }

        .bi {
          z-index: 2;
        }
      }
    }
  }
}

.mobile-logo {
  display: block;
  height: 50px;
  //margin-left: 20px;
  margin-right: -2.357rem;
}

.has-burger-menu .mobile-logo {
  margin-left: -55px;
}

.sidebar-menu-container {
  position: absolute;
  top: var(--header-height);
  bottom: 0;
  left: var(--nav-width);
  width: var(--contextual-menu-width);
  transition: all 0.4s cubic-bezier(0.4, 0, 0, 1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.main-container {
  margin-left: var(--nav-width);
  transition: all 0.4s cubic-bezier(0.4, 0, 0, 1);
}

.layout-sidebar {
  display: none;

  @media (max-width: 900px) {
    -webkit-transition: background-color .5s;
    transition: background-color .5s;
    background-color: rgba(0, 0, 0, 0.1);
  }

}

.layout-sidebar.active {
  @media (max-width: 900px) {
    position: fixed;
    z-index: 998;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    -webkit-transition: background-color .5s;
    transition: background-color .5s;
    background-color: rgba(0, 0, 0, .4);
  }
}

.centered-content-view {
  max-width: 800px;
  margin: auto;
}

.box-with-shadow {
  border: 1px solid var(--surface-c);
  padding: 0 1rem;
  border-radius: 8px;
  background: var(--surface-lck-2);
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: var(--border-radius);
}

.w-100 {
  width: 100%;
}
