// layout
:root {
  --nav-width: 3.5rem;
  --contextual-menu-width: 20rem;
}

.lck-header {
  z-index: 999;
}

.lck-layout {
  position: fixed;
  top: var(--header-height);
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  grid-template-columns: auto 1fr;

  &-content {
    display: grid;
    grid-template-columns: auto 1fr;
  }
}

.lck-nav {
  width: var(--nav-width);
  height: calc(100vh - var(--header-height));
  background: var(--primary-color);

  &-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &-item {
    text-align: center;

    &-link {
      width: 100%;
      color: var(--primary-color-very-lighten);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: var(--font-size-lg);
      border-radius: 0;
      width: 100%;
      height: 3rem;


      &:hover {
        background: var(--primary-color-darken);
      }

      &:focus {
        background: var(--primary-color-darken);
        outline: none;
        box-shadow: none;
      }
    }

    .router-link-active {
      position: relative;
      color: var(--sidebar-text-color-active);
      background: var(--sidebar-background-color);

      &:focus-visible {
        &::before {
          content: '';
          position: absolute;
          z-index: 1;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          border-radius: var(--border-radius);
          margin: var(--spacing-sm);
          background: var(--sidebar-background-color-active);
        }

        .bi {
          z-index: 2;
        }
      }
    }
  }

  @media screen and (max-width: 900px) {
    display: none;

    &--active {
      display: block;
    }
  }
}

.mobile-logo {
  display: block;
  height: 50px;
  //margin-left: 20px;
  margin-right: -2.357rem;
}

.has-burger-menu .mobile-logo {
  margin-left: -55px;
}

.main-container {
  margin-left: var(--nav-width);
  transition: all 0.4s cubic-bezier(0.4, 0, 0, 1);
}

.centered-content-view {
  max-width: 800px;
  margin: auto;
}
