.workspaces {
  &-item {
    padding: .75rem;
  }

  &-button {
    flex-direction: column;
    justify-content: center;
    background: #ffffff;
    min-height: 10rem;
    border-radius: var(--border-radius);
    width: 100%;
    cursor: pointer;
    border: solid 1px var(--primary-color);
    color: var(--text-color);
    box-shadow: 0 1px 3px 2px rgba(141, 27, 27, 0.04);
    transition: box-shadow .3s;
    font-weight: normal;

    &,
    p {
      text-decoration: none;
      color: var(--text-color);
    }

    &-title {
      display: block;
      font-weight: bold;
      margin: 0;
    }

    &-group {
      font-size: .8rem;
      display: block;
      margin-top: 0;
      margin-bottom: .25rem;
    }

    &:hover {
      box-shadow: 0 0 0 0.1rem var(--primary-color);
      background-color: var(--primary-color-very-lighten);
    }

    &:focus {
      box-shadow: 0 0 0 0.1rem var(--primary-color), 0 0 0 0.3rem var(--primary-color-lighten);
    }
  }

  &-placeholder {
    width: 100%;
    min-height: 10rem;
    border-radius: var(--border-radius);
    border: dashed 2px var(--secondary-color-lighten);
    cursor: pointer;
    background-color: transparent;
    color: var(--primary-color);

    &-icon {
      font-size: 2rem;
      display: block;
      margin-bottom: 1rem;
    }

    &:hover {
      border-color: var(--surface-a);
      background-color: var(--primary-color-very-lighten);
    }

    &:focus {
      outline: none;
      background-color: var(--primary-color-very-lighten);

      .p-button {
        background-color: var(--primary-color-darken);
      }
    }
  }
}
