.p-password.p-invalid.p-component > .p-inputtext {
  border-color: var(--color-error);
}

.p-password-panel {
  padding: 1rem;
  background: var(--background-color);
  color: var(--text-color);
  border: 0 none;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 3px;
}
.p-password-panel .p-password-meter {
  margin-bottom: 0.5rem;
  background: #dee2e6;
}
.p-password-panel .p-password-meter .p-password-strength.weak {
  background: var(--color-error);
}
.p-password-panel .p-password-meter .p-password-strength.medium {
  background: var(--color-warning);
}
.p-password-panel .p-password-meter .p-password-strength.strong {
  background: var(--color-success);
}
