.p-toolbar {
  background: var(--background-color);
  border: 1px solid var(--secondary-color-lighten);
  padding: var(--spacing-sm);
  border-radius: var(--border-radius);
}

.p-toolbar .p-toolbar-separator {
  margin: 0 0.5rem;
}
