.DS_Store
node_modules
/dist

# Config
/public/config.js

# Theme
/public/themes/*
!/public/themes/locokit
!/public/themes/makina-green
!/public/themes/makina-klein

# Test
/tests/e2e/videos/
/tests/e2e/screenshots/
/coverage
/storybook-static
junit.xml
/tests/unit/__image_snapshots__/__diff_output__

# local env files
.env
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

